<h1>Knights</h1>
<p><%= link_to "New Knight", new_knight_path %></p>
<ul>
  <% @knights.each do |knight| %>
    <li>
    <%= link_to knight.name, knight_path(knight) %> - Created at: <%= knight.created_at.strftime("%B %d, %Y %H:%M") %>
    </li>
  <% end %>
</ul>

