<h1>Apprentices of <%= @knight.name %></h1>
<ul>
  <% @apprentices.each do |apprentice| %>
    <li>
      <%= link_to apprentice.name, apprentice_path(apprentice) %><br>
      Knighted: <%= apprentice.is_knighted %><br>
      Age: <%= apprentice.age %>
    </li>
  <% end %>
</ul>
